/* Variables */
:root {
  --color-black: #000;
  --color-light-black: #111;
  --color-white: #fff;
  --color-gray: #696969;
  --color-light-gray: #eaeaea;
  --color-blue: #0076ffe6;
  --color-dark-blue: #0070f3;
}
