/* Variables */
:root {
  --color-black: #000;
  --color-light-black: #111;
  --color-white: #fff;
  --color-gray: #696969;
  --color-light-gray: #eaeaea;
  --color-blue: #0076ffe6;
  --color-dark-blue: #0070f3;
}

/* Basic */

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

a {
  text-decoration: none;
  transition: all 0.2s ease;
}

a,
p {
  color: var(--color-gray);
}

/* Top bar */

.top-bar {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  background: var(--color-black);
  color: var(--color-white);
}

.inner,
nav {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.inner p {
  color: var(--color-white);
}

/* Header */

header {
  width: 100%;
  display: flex;
  align-items: center;
}

nav {
  padding: 1rem 2rem;
}

nav a:hover {
  color: var(--color-black);
}

.btn {
  border: 1px solid var(--color-dark-blue);
  border-radius: 8px;
  padding: 0.5rem 1rem;
  background-color: var(--color-blue);
  color: var(--color-white);
  font-weight: 500;
}

.btn:hover {
  background-color: var(--color-white);
  color: var(--color-blue);
}

/* Notification */

.notification {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px -10px 0;
}

.notification a {
  padding: 1rem 0.5rem;
  font-size: 14px;
  border: 2px solid var(--color-light-gray);
  border-radius: 8px;
  color: var(--color-light-black);
}

.highlight {
  background: linear-gradient(90deg, #ed6292 25%, #ed5760 87.5%);
  color: var(--color-white);
  padding: 1px 8px;
  font-weight: bold;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 0.9em;
}
